requests
beautifulsoup4
transformers
torch
huggingface_hub
sentencepiece
pymupdf
nltk
PyPDF2
langchain-core
langchain
langchain-community
pypdf
sentence-transformers
faiss-cpu
scikit-learn
feedparser
pandas
numpy
llama-parse
nest-asyncio
llama-index
llama-cpp-agent
duckduckgo_search
googlesearch-python
readability-lxml
pydantic
